html {
  height: -webkit-fill-available;
  }

body {
  min-height: 100vh;
  background: #f5f6f8;
  color: #212529;
  min-height: -webkit-fill-available;
  }

a{
    color: #212529!important;
  }

.link-dark {
  color: #212529;
  }

.bg-light{
  background-color: #fff!important;
  }

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
  }

#main-container{
  margin-top: 30px;
  padding-left: 15px!important;
  padding-right: 15px!important;
  }
  
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.container-fluid{
  padding-right: 0!important;
  padding-left: 0!important;
  }
  
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff!important;
  background: #4b2294;
} 

.drawer-icon{
  cursor: pointer;
  width: 28px;
  height: 28px;
  }

.scrollarea {
  overflow-y: auto!important;
  }
  

.wrap-drawer{
  padding: 8px;
}


.dropdown-toggle::after { 
  margin-right: -5px; /* Fixing alignment behavior */
  }

.dropdown-toggle::after { 
  content: none; 
  }
  
.custom-dropdown{
  padding: 10px;
  }

.custom-dropdown.dropdown-toggle::after {
  display: none;
  }

.brand-icon{
  font-size: 44px;  
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  color: #fff;
  transition: all 0.3s;
}

.drawer-icon-menu{
  margin-top: -5px;
  margin-right: 10px;
  width: 18px;
  height: 18px;
  }

.nav-wrap{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-right: 15px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
  box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
  }

.dropdown-toggle { 
  outline: 0; 
  }

.nav-flush .nav-link {
  border-radius: 0;
  }

.icon-badge {
  background-color: #ff0000;
  font-size: 12px;
  color: #fff;
  text-align: center;
  width:20px;
  height:20px;
  border-radius: 35%;
  position: absolute; /* changed */
  top: -5px; /* changed */
  left: 18px; /* changed */
}

.icon-badge-container {
  margin-top:8px;
  margin-right: 10px;
  position:relative;
  padding-bottom: 8px;
}


.display-none{
  display: none;
  }

.shrink{
  display: block!important;
  }

#sidebar.active{
  margin-left: -250px;
  }

#sidebar ul li a{
  padding: 10px;
  font-size: 16px;
  display: block;
  color: #212529;
  }



#sidebar ul li a:hover {
  color: #000!important;
  background: #fafafa;
  }

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #fff!important;
  background: #4b2294;
  }

a[data-toggle="collapse"] {
  position: relative;
  }

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

@media(max-width:768px){
  #sidebar{margin-left: -250px;}
  #sidebar.active{
    margin-left: 0px;
  }

  #sidebarCollapse span,#sidebar, .username{
    display: none;
  }

  
}














